[2016-07-20 03:42] mike-north opened #4 "D3 v4 - how to handle sub-modules?"
What's the plan for d3 v4? This may work for bringing in the whole library, but it might be useful for opting into [particular submodules](https://github.com/d3/d3/blob/bd55ecf1ec4d04cabbf3d793e306e38093d444dd/package.json#L41-L70) of the new repo.

It would be nice to avoid having a bunch of individual shims, like https://github.com/ivanvanderbyl/ember-cli-d3-shape for each submodule -- particula

[2016-07-21 17:50] offirgolan opened #5 "D3 Version Conflicts"
More details in offirgolan/ember-cli-nvd3#8

Under the hood, `ember-cli-nvd3` installs `ember-nvd3-shim` which installs `ember-d3`. Not really sure why this is happening, any suggestions would be appreciated!

[2016-07-22 06:55] brzpegasus commented on #4
I don't have any immediate plans for d3 v4 yet. Unfortunately my ability to sit down and code is extremely limited at the moment, at least until I return to work in September.

From a quick glance, it seems to me that https://github.com/ivanvanderbyl/ember-cli-d3-shape loads up all the d3 submodules, not just shape, and patches up the AMD modules to be compatible with Ember CLI's loader? Would be

[2016-07-22 07:04] mike-north commented on #4
How about giving myself and @ivanvanderbyl contributor access so we can take care of this for you. I'd love to see only one main "d3 shim" ember addon that the whole ecosystem revolves around.

[2016-07-22 07:14] ivanvanderbyl commented on #4
I'd be happy to do the leg work to make this happen.

I'm not sure of the current status of the D3 modules, but when I started authoring that addon they were using a type of universal module loader which was not compatible with Ember because Ember doesn't expose a 100% compatible AMD module loader, so the Funnel I built basically converts them to modules which Ember can load, then adds them to the

[2016-07-22 09:27] brzpegasus commented on #4
I added both of you as contributors. I'll take care of the NPM portion when I can get access to a terminal later today.

Wish I could be of more help!

[2016-07-22 09:41] brzpegasus commented on #5
This is resolved with https://github.com/levanto-financial/ember-nvd3-shim/pull/19.

[2016-07-22 09:41] #5 closed

[2016-07-22 13:35] ivanvanderbyl commented on #4
Thanks so much Estelle, I'll get it ready to cut a new release and have this replace my addon next.

[2016-07-22 14:21] brzpegasus commented on #4
@ivanvanderbyl / @mike-north Added as owners to NPM.

[2016-07-22 14:57] mike-north commented on #4
Awesome. Thanks estelle!

Ivan - I have some interesting "nested addon" cases that might make a good set of target use cases

### A "d3 v3 only" library

where I need to constrain d3 to a particular version to support something built on top of it (https://github.com/levanto-financial/ember-nvd3-shim/blob/master/blueprints/ember-nvd3-shim/index.js#L6-L11)

##### blueprints/ember-nvd3-shim/index.js

[2016-07-22 15:59] ivanvanderbyl commented on #4
Hey @mike-north — sounds like a good plan. I was actually thinking `master` => `v3`, then new master is `v4`. We'll cut a `v3` release that matches the D3 version, publish that and move on to v4.

In my addon I've managed to make some assumptions about whether the addon is in another addon or an app, which means we don't need to install any other deps in the parent like we do with bower because it

[2016-07-22 17:31] ivanvanderbyl opened #9 "Add ember-d3 to travis-ci"
Needs to be completed by @brzpegasus due to permissions.

[2016-07-22 18:42] brzpegasus commented on #9
Done.

[2016-07-22 18:42] #9 closed

[2016-07-23 02:51] mike-north commented on #4
👍

[2016-10-16 04:07] ivanvanderbyl commented on #4
Module opt-in is resolved in #8

[2016-10-16 04:08] ivanvanderbyl commented on #4
I think though that support plugins at a specific version is going to be hard, so

[2016-10-16 04:08] #4 closed

[2016-10-25 13:51] sly7-7 opened #12 "How to use d3-selection-multi"
since [d3-selection-multi](https://github.com/d3/d3-selection-multi) is not part of the default bundle (see the last paragraph at https://github.com/d3/d3-selection/releases/v1.0.0), how do you set multiple values to style() at once ? In D3 v3, you could pass an object to selection.style().

[2016-10-26 00:36] ivanvanderbyl commented on #12
@sly7-7 thanks for pointing this out. We'll need to add support for additional D3 plugins to support this, as our current module lookup is tightly coupled to the dependencies of the `d3` package.

This is definitely possible and is probably a good idea to support loading other non-standard plugins.

[2016-10-26 00:38] ivanvanderbyl commented on #12
One way I could see this working, which would be easy for the user to work with, is to just look at the dependencies of the parent project ingesting this addon and load anything starting with `d3-`.

[2016-10-26 07:06] sly7-7 commented on #12
@ivanvanderbyl Thanks for the answer. I would be happy to try to tackle this, so if I understand,

 - A user will install the plugins via `npm install d3-*`
 - In [d3-deps-for-package](https://github.com/brzpegasus/ember-d3/blob/master/lib/d3-deps-for-package.js) you would complete the actual deps by walking the user's project's package.json and load all `d3-*` modules ?

Also, I'm not sure what l

[2016-10-27 06:34] erichonkanen opened #13 "Failure installing"
![image](https://cloud.githubusercontent.com/assets/230757/19756942/c9e52834-9bd4-11e6-8e99-6bb01b0e1d2c.png)

[2016-10-27 06:37] ivanvanderbyl commented on #13
@erichonkanen you need to upgrade nodejs, you can get the latest version from `brew` or https://nodejs.org/en/

[2016-10-27 06:37] #13 closed

[2016-10-27 06:44] ivanvanderbyl commented on #12
@sly7-7 it's far from straight forward unfortunately, which is why this addon exists.

Under the hood, each addon is processed by ember-cli, and provides ember-cli with broccoli trees for each section of the addon (app, addon ,vendor, tests etc). In our case we build a custom tree for vendor which contains each d3 package, correctly named and converted to AMD so you can import it using `import sel

[2016-10-27 10:07] sly7-7 commented on #12
I've tried playing with that, but it appears an obscure error for me, something during the AMD rewrite.

for the d3-selection-multi: `[{value: d3-selection-multi, loc: null, type: Literal, comments: null, regex: null}, {elements: , loc: null, type: ArrayExpression, comments: null}, ] does not match field "arguments": [Expression | SpreadElement] of type CallExpression``

I think it's because d3-se

[2016-10-27 15:10] sly7-7 opened #15 "ember build broken with npm2"
It seems like this addon only works with npm 3, where the d3-\* modules are directly under the project's node_modules directory.
Just pointing this out, but I don't know what npm versions are supposed to be supported

[2016-10-28 10:02] sly7-7 opened #16 "Expose the whole d3 namespace ?"
Would it be possible to expose the d3 namespace, like in https://github.com/d3/d3#installing, `import * as d3 from 'd3'` ?

Maybe this is just a non sense in a es6 modules world...

[2016-11-05 21:15] snewcomer commented on #16
This would be nice!

[2016-11-07 20:55] tcjr commented on #15
@sly7-7 Do you have a workaround for using this with npm v2?  My local dev machine has npm v3, but our CI machine is on npm 2.15.5.

[2016-11-08 09:49] ivanvanderbyl commented on #15
@sly7-7 @tcjr due to the way npm 2 handles nested modules it would introduce a lot of complexity which we feel is not necessary. If your CI is running npm@2, you could try adding this line as we do in our travis config https://github.com/brzpegasus/ember-d3/blob/master/.travis.yml#L25

[2016-11-08 10:01] ivanvanderbyl commented on #16
I'm not sure this meets our design goals. If this would be to ease the upgrade path from v3 => v4, you'll run into a lot of incompatible APIs which would arguably not be worth it over just explicitly importing the APIs you need.

[2016-11-08 10:17] sly7-7 commented on #15
@ivanvanderbyl That makes sense, maybe this could be added to the README ?

[2016-11-08 10:23] sly7-7 commented on #16
@ivanvanderbyl Yes, it was to ease the upgrade path, but also to conform to what d3 allows. Not a big deal, closing.

[2016-11-08 10:23] #16 closed

[2016-11-08 10:24] ivanvanderbyl commented on #15
Good idea.

- [ ] Add npm 2 upgrade path to readme.

[2016-11-08 16:13] oleosjo opened #19 "How can I import all?"
I would love it if I could use something like `import * as d3 from "d3";` to import all of d3 under one namespace. Is this possible?

As it is, I have a wall of import statements just for a simple graph. Doesn't seem worth it.

[2016-11-10 08:23] AmilKey opened #20 "ember-twiddle and ember-d3"
Hey there! Add a git tags to repo, plz. Ember-twiddle can works with 0.2.0 version only now

[code]

oh, sorry, I'm confused it with d3

[2016-11-10 08:25] #20 closed

[2016-11-10 15:32] ggstuart opened #21 "What is best practice to get a component together?"
Hi, I was just wondering how I should create D3-based components with this add on.

I am assuming something like this:

`{{awesome-d3-widget data=model.data}}`

Where my component has something like this:
[code]

How would I recreate something like [this](https://bost.ocks.org/mike/circles/)?

[2016-11-16 00:19] ggstuart opened #22 "sub module: [...] is not installed"
Hi I tried installing as instructed in the readme but I get this.

I have no idea what to do. Any ideas?

[2016-11-16 04:31] ivanvanderbyl commented on #22
What version of NPM are you using?
On Wed., 16 Nov. 2016 at 08:19, Graeme Stuart <notifications@github.com>
wrote:

--
Ivan Vanderbyl
@ivanderbyl
ivanvanderbyl@gmail.com
AU +61 432 221 634
US +1 415 813 0973

[2016-11-16 09:10] ggstuart commented on #22
I was on 2.15.11 but I upgraded to 3.10.9 and still see the same issue.

[2016-11-16 09:12] ggstuart commented on #22
To clarify, I get the warnings when I try to serve my app.

I also get this:

[2016-11-22 11:58] NkS90 opened #23 "ember build breaks in npm@2 and npm@3 as well"
Getting the below error

TypeError: ui.writeInfoLine is not a function

[2016-12-03 05:50] #15 closed

[2016-12-08 01:55] ivanvanderbyl commented on #22
Can you share the output of running `npm version` in your project

[2016-12-08 02:56] ivanvanderbyl commented on #21
Hey there @ggstuart, sorry about the late reply, keeping on top of OSS projects can sometimes take a lot to catch up on. Anyhow, I've added a basic circles example which should cover all the core concepts https://github.com/brzpegasus/ember-d3/blob/master/tests/dummy/app/components/simple-circles.js

[2016-12-08 02:56] #21 closed

[2016-12-08 03:14] ivanvanderbyl commented on #19
At the moment this is not possible, see #16

[2016-12-08 03:14] #19 closed

[2016-12-08 03:16] ivanvanderbyl commented on #22
If you're still getting these issues, rm `node_modules` and `tmp` then `npm install`.

[2016-12-08 03:16] ivanvanderbyl commented on #23
Update `ember-cli` in your app.

[2016-12-08 03:16] #23 closed

[2016-12-08 10:40] ggstuart commented on #21
No problem. This is great thanks. I will try to get up and running.

I have been using ember-cli-d3 and I'm worried it has too much 'magic'. Your example seems more self-explanatory. Though I don't understand the `layout` thing just yet. I will have a closer look and get back to you with any further questions.

Thanks.

[2016-12-08 16:37] ggstuart commented on #22
I upgraded node and npm, reinstalled ember-cli and all is now good.

[2016-12-09 03:03] #22 closed

[2016-12-09 03:06] ivanvanderbyl opened #25 "Bundled code is initialized twice"
I've started noticing a bug in the bundled code produced by this addon which causes it to be parsed and loaded evaluated by the browser twice.

I haven't investigated the cause yet.

### Indications

- D3 library register calls happens twice, but the import only happens once

### Possible causes

- `included()` is being called multiple times and importing the vendor tree multiple times.

[2016-12-09 03:07] ivanvanderbyl commented on #25
This should affect any actually using this addon, but it _might_ mean double the time spent compiling, but that needs to be inspected.

[2016-12-22 21:42] yads opened #26 "Best way to initialize transition module without importing"
Right now if I want to use the `selection.transition` function I have to write something like:

[code]

even if I'm not directly using the transition function. JShint complains that transition is defined, but never used, so I then have to wrap the above code in `/*jshint ignore:start*/.../*jshint ignore:end*/` statements. Is there a better way of doing this with the new modularized approach?

[2016-12-23 01:32] ivanvanderbyl commented on #26
@yads you're probably referencing old docs, the correct way to use transition in D3 v4 is to do this:

[code]

[2016-12-23 01:39] #26 closed

[2017-02-14 20:17] joelfried opened #29 "0.3.1 breaks on Windows"
Commit 07f7db7 changed index.js to use path.join() in a way that breaks this package for Windows users.

A fix is documented in [this thread](https://www.bountysource.com/issues/36040226-windows-issues) - it looks like just fixing line 99 may be sufficient.

[2017-02-21 10:54] ivanvanderbyl commented on #29
@joelfried we'd happily accept a pull request for this. At present I don't have a windows environment to test a fix on.

[2017-02-22 20:47] nabihahossain opened #30 "package installs successfully but breaks ember on serve"
this is the error i get when i try to serve my app on localhost:

[2017-02-24 19:55] joelfried commented on #29
@ivanvanderbyl I've created a pull request that resolves this issue.

[2017-03-11 03:50] ivanvanderbyl commented on #30
Thanks for reporting, I'm looking into this now. It looks like the build structure of D3 packages changed, so likely a version problem there.

[2017-03-15 14:03] nabihahossain commented on #30
Ok sounds good. In the meantime I've got an instance of d3 v4 through bower. Btw, your example in the dummy app was really helpful so thanks for that!

[2017-03-17 01:22] raytiley commented on #29
I can confirm I'm seeing this on our appveyor CI

[code]

[2017-03-19 19:12] allthesignals commented on #30
Anyone have any ideas about this? Do we need to npm install a specific version of d3 and its submodules? Thanks!

[2017-03-21 09:53] progand opened #32 "Unable to get d3.event"
Hi! I'm going to add zoom behaviour to my plot. I've found many examples like:

[code]

How can I get this `event` using your addon?

[2017-04-13 09:07] VasylMarchuk commented on #32
Because `event` is part of the `d3-selection` module, you can get it like so:

`import { event } from 'd3-selection';`

then do

[code]

[2017-04-13 09:25] progand commented on #32
Thanks!

[2017-04-13 09:25] #32 closed

[2017-05-04 19:14] tmeloliveira commented on #30
I'm also facing the same issue @allthesignals. Have you found a solution or workaround for it?

[2017-05-04 19:36] allthesignals commented on #30
Hmm, this is the setup I have for one of my projects @tmeloliveira : https://github.com/MAPC/dyee-dashboard/search?utf8=%E2%9C%93&q=d3&type=

[2017-05-05 13:41] ivanvanderbyl opened #34 "Refactor loading to use broccoli-rollup"
We currently employ a rather complicated use of recasting to munge the D3 source into something which is digestible by Ember CLI. This means using a build process which isn't reproducible in the same way as the official D3 builds. To fix this, I propose that we change the internals of this addon to use https://github.com/chadhietala/broccoli-rollup instead, with a similar config as the official D3

[2017-05-06 08:40] ivanvanderbyl commented on #30
It looks like there are two issues here, 1: We need to release a version which fixes the windows issues. I don't have a windows machine to test on, but we can probably setup a CI which does this. 2. NPM might not be installing the dependencies for D3 itself. So if this is the case, add `"d3": "^4.7.0"` to your package.json.

[2017-05-11 13:13] gtb104 commented on #30
Our Windows devs are having the same issue. What I'm seeing is there are missing files for the symlink.

`Error: ENOENT: no such file or directory, symlink 'C:\Users\nhoss\Documents\coldchainportal\tmp\funnel-input_base_path-YK8K6gr3.tmp\ember-d3\register-version.js' -> 'C:\Users\nhoss\Documents\coldchainportal\tmp\funnel-output_path-60coM5K9.tmp\ember-d3\register-d3-version.js'`

The destination

[2017-05-11 19:23] samselikoff commented on #16
This would be nice, even some of [Mike's examples](https://bl.ocks.org/mbostock/3885304) use `d3.*`. It reduces cognitive overhead when using the lib, and for issues where you're not svelte building it makes it quite simpler.

What do you think of exposing a way to do this?

[2017-05-11 19:36] ivanvanderbyl commented on #16
Now that the underlying d3 lib has stabilised, I think we can make this
happen. I'm going to refactor the loading mechanism shortly to speed things
up and simplify a bit, this will be a goal of that as well.
On Thu, 11 May 2017 at 22:23, Sam Selikoff <notifications@github.com> wrote:

--
Ivan Vanderbyl

[2017-05-14 08:48] ksnyde opened #35 "events / dragged not working"
When I used the `d3-drag/drag` function in conjunction with `d3-selection/event` it would appear all events are not getting through to d3. I had a suspicion that the Ember component was swallowing up these events so I changed over to a tagless component figuring I'd have greater control of the events on the SVG/Canvas element. Sadly that didn't seem to help. Any ideas?

Code here: https://github.c

[2017-05-16 15:15] rwjblue commented on #29
Seems like https://github.com/ivanvanderbyl/ember-d3/pull/33 fixed the issue for us, but we still need a release.

@ivanvanderbyl - Any blockers on a release?

[2017-05-16 15:17] ivanvanderbyl commented on #29
Nope, will cut one shortly when I get to a proper internet. Currently on
Naxos, in 🇬🇷
On Tue, 16 May 2017 at 18:16, Robert Jackson <notifications@github.com>
wrote:

--
Ivan Vanderbyl

[2017-05-18 08:57] ivanvanderbyl commented on #35
I haven't tried events with `canvas`, so can't really offer much advice there. Ember doesn't swallow events, instead relies on them bubbling up to the document level to catch them in global event handlers, then delegate them to any components which register handlers. So what's more likely is that your event handlers aren't attaching correctly, which might require something different with canvas.

[2017-05-18 11:40] ivanvanderbyl commented on #30
@gtb104 can you try the latest version `0.3.3` and let me know if it works for you?

[2017-05-18 11:40] ivanvanderbyl commented on #29
@rwjblue released `0.3.3`

[2017-05-18 19:55] ksnyde commented on #35
Hmmm. At the moment I’m just transcribing examples on Bl.ocks using your add-on so my approach is a proven approach. Must be something I’m doing in translation.

On May 18, 2017, 1:57 AM -0700, Ivan Vanderbyl <notifications@github.com>, wrote:

[2017-05-19 20:14] gtb104 commented on #30
We'll try it out and let you know how it goes on Monday.

[2017-05-23 02:20] gtb104 commented on #30
@ivanvanderbyl, we verified that `0.3.3` works on our Windows machines. 👍

[2017-05-31 23:39] ksnyde commented on #35
I didn't but largely due to lack of bandwidth. If you want to close it I can reopen when I come back to this in a week or so.

[2017-06-08 10:37] nagits opened #37 "0.4.0-beta.2: ember build broken on node < 6"
`SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode`

(relates to PR #27)

[2017-06-08 10:49] ivanvanderbyl commented on #37
@nagits which version of Node are you running? Is there anything preventing you from upgrading to a newer stable version?

[2017-06-08 11:19] nagits commented on #37
~4.5.0 on CI server in my company. The server isn't under my control, but I hope to be able to solve this problem. I would like to draw attention to the fact that the add-on is declared support node >= 4.0 (package.json and README.md).

[2017-06-08 11:26] ivanvanderbyl commented on #37
Okay good to know if you downgrade to 0.3 that should fix the problem for
you for now.
On Thu, 8 Jun 2017 at 13:19, Aleksey Nagovitsyn <notifications@github.com>
wrote:

--
Ivan Vanderbyl

[2017-06-08 12:40] ivanvanderbyl commented on #37
@nagits I've updated NPM so you should get the old version by default. Seems NPM changed the default installed version to include prereleases.

[2017-06-08 12:40] #37 closed

[2017-06-08 12:40] #30 closed

[2017-06-08 12:40] #29 closed

[2017-06-14 14:41] nagits opened #38 "auto adding transitive d3 dependencies doesn't work?"
Error: Could not find module `d3-array` imported from `d3-scale`

From README.md:
`Note: Even though you only add d3-scale, it has a few transitive d3 dependencies. These are added to your project automatically.`

My config:
[code]

[2017-06-15 08:49] ivorscott opened #39 "Add d3 v4 modules list in README.md"
https://gist.github.com/biovisualize/2740d97b661aa45da69d081423a90416
Would be nice to have.

[2017-06-16 09:55] ivanvanderbyl commented on #39
We'd accept a PR for that 😄

[2017-06-16 09:56] ivanvanderbyl commented on #38
@nagits right now this is a known defect. We're working on supporting this in the upcoming beta, however, right now I recommend you add the dependencies for `d3-scale` manually.

`["d3-array", "d3-collection", "d3-color", "d3-format", "d3-interpolate", "d3-time", "d3-time-format"]`

[2017-07-07 09:20] ashokaditya commented on #35
I have the same issue with d3.event showing up null. My ember app is using d3 version 4.9.1 and ember-cli 2.13.0.
I'm using
`import * as d3 from 'd3'`
`import {event, customEvent} from 'd3-selection'`

in my components didInsertElement() function.  The sag renders perfectly but event is null and that doesn't allow me to implement the brush and zoom. My code is very similar to https://bl.ocks.org/m

[2017-08-02 05:19] IAmJulianAcosta commented on #12
I created a PR that will load any D3 plugin that appears in `package.json`. This is far to be an optimal solution, but it works fine.

[2017-09-13 22:53] eccegordo opened #41 "Any chance to create a few more example components?"
Trying to understand how to use this as an interface to D3 v4.

Any chance you could create a couple more illustrative examples? In particular trying to figure out how to make a very basic line chart like this example.

https://bl.ocks.org/d3noob/402dd382a51a4f6eea487f9a35566de0

Trying to better understand how to use the d3 api and the ember conventions together. Basically curious to see examples

[2017-09-14 01:58] ivanvanderbyl commented on #41
@eccegordo take a look at Primer, it's an addon I'm working on which implements primitives for building more complex charts, and includes some working examples in the dummy app. https://github.com/ember-visualization/ember-primer

[2017-09-14 01:58] #41 closed

[2017-09-14 02:07] eccegordo commented on #41
Awesome thanks for the reference. Very helpful.

[2017-10-17 21:38] jamesarosen opened #42 "optional support for window.d3"
There are libraries like [DataMaps](http://datamaps.github.io/) that expect `window.d3` to be defined.

The first thing I tried was
[code]
but this library doesn't define a module for the rollup. I might be able to do something like
[code]

It would be nice if this library made that use-case easier.

[2017-12-19 16:47] chilicoder opened #44 "Update dependencies"
Do you plan to update the library?
In particular current version of "ember-cli-babel": "^5.1.7", is outdated and causes problems with ember-cli-mirage

[2018-01-18 20:54] ivanvanderbyl commented on #44
A PR which updates babel would be greatly appreciated. Right now I'm too flat out with other projects to give this much attention.

[2018-01-20 19:02] 2pkothari opened #45 "Could not find module 'ember-d3' imported from '../mixin/chart'"
I get the run time error as below.

loader.js:247 Uncaught Error: Could not find module `ember-d3` imported from `hgnapp/mixins/chart`
    at missingModule (loader.js:247)
    at findModule (loader.js:258)
    at Module.findDeps (loader.js:168)
    at findModule (loader.js:262)
    at Module.findDeps (loader.js:168)
    at findModule (loader.js:262)
    at requireModule (loader.js:24)
    at Class

[2018-01-28 21:44] josh803316 opened #46 "Update to d3-selection 1.3.0 broke building/testing of dependent app"
I'm not sure if this is an ember-d3 issue, a d3 issue or a d3-selection issue, but a couple of hours ago d3-selection was upgraded from `1.2.0` to `1.3.0` and since then, when we try to run tests they fail with the error (no such file - see below).. our only d3 dependency is
- `"ember-d3": "^0.3.4"`.... which then references
  - `"d3": "^4.0.0"` .... which references
    - `"d3-selection": "1.2.0"

[2018-01-28 22:05] mbostock commented on #46
Hi there. It looks like your code in embed-d3 assumes that the generated bundle is in a folder called `build`, e.g., `build/d3-selection.js`. However, the name of this file is not part of the public API, and you should not depend on it remaining the same from release to release. In this case, it changed from `build/d3-selection.js` to `dist/d3-selection.js`. In the future, more D3 modules will swi

[2018-01-28 22:09] josh803316 commented on #46
@mbostock Thanks so much for the fast response. I'll either create a PR for the ember-d3 authors or have them respond to this thread with a follow-up

[2018-01-30 21:14] JonLim commented on #46
For those having issues with this, as we were having with our Jenkins build, the semver for the `d3` npm package inside of `ember-d3` is set to `^4.0.0`. This will pull `d3@4.13.0`, which includes `d3-selection@1.3.0`, which was the problematic link for our build process.

Our short term solution was to include `d3@4.12.2` in the `package.json` of the project that was using `ember-d3` and it seems

[2018-01-30 21:38] ivanvanderbyl commented on #46
Thanks for the update @mbostock @JonLim @josh803316 — I'm working on making the loader more generalisable now that Ember CLI has better tooling for loading node_modules. I should have this fixed this week.

[2018-01-30 21:54] josh803316 commented on #46
@ivanvanderbyl Sounds great and thanks for picking it up so quickly!

For anyone else working on a workaround, it seems that @JonLim has the right idea. We did something a little bit different in our project: We modified `config/environment.js`
to only reference the libs we needed which were not updated yet with the reference to the new version.
`ENV['ember-d3'] = {
    only: ['d3-collection','d3-

[2018-01-31 17:16] ivanvanderbyl commented on #46
I've figured out a solution, since Ember CLI now has an AMD transform to make common AMD/UMD libraries like D3 load correctly, I'm going to remove all the transforms we do in this addon and load the `unpkg` file from each package as suggested by @mbostock

Stay tuned.

[2018-01-31 17:17] josh803316 commented on #46
👍 Thanks @ivanvanderbyl

[2018-01-31 20:53] ivanvanderbyl commented on #12
Support for custom d3 modules has been added to the latest beta: `ember-d3@0.4.0-beta.6`

Instructions:

1. Install the addon
2. Install `d3` and `d3-selection-multi`
3. Profit

[2018-01-31 20:53] #12 closed

[2018-01-31 20:56] ivanvanderbyl commented on #46
@josh803316 @JonLim Please try the latest beta: `ember-d3@0.4.0-beta.6`

[2018-01-31 21:03] josh803316 commented on #46
@ivanvanderbyl That didn't work for my setup, let me now what info you need to help debug:

`
⠋ Building Cannot find module 'd3/package.json' from '/git/ember-app'
`

[2018-01-31 21:30] danwenzel commented on #46
I tried the beta version and also got that error.  It looks like `d3` has been completely removed from the dep's of `ember-d3`

However, if I manually also install `d3` (`npm install --save-dev d3@4.13.0`), everything works

[2018-01-31 21:49] josh803316 commented on #46
👍 Thanks @danwenzel that helps, tested and it also works for me after adding d3

[2018-01-31 23:40] ivanvanderbyl commented on #46
Okay good to hear. That's correct, you'll need d3 in the your app from now
on. This just acts as a loader.
On Wed, 31 Jan 2018 at 15:49, Josh Nisenson <notifications@github.com>
wrote:

--
Ivan Vanderbyl

[2018-02-01 01:25] josh803316 commented on #46
All is working well now from our end, thanks for the quick turnaround!

[2018-02-01 09:49] chilicoder commented on #44
closed by https://github.com/ivanvanderbyl/ember-d3/pull/36

[2018-02-01 09:49] #44 closed

[2018-02-01 17:55] ivanvanderbyl commented on #46
I've released `v0.4.1` which now supports all D3@v4x and v5 beta builds.

[2018-02-01 17:55] #46 closed

[2018-02-01 17:56] ivanvanderbyl commented on #45
What are you doing before this?

[2018-02-01 17:57] ivanvanderbyl commented on #42
Exposing globals is viewed as an anti-pattern and won't be supported by this library. If you need this functionality, I'd recommend applying it to your app directly.

[2018-02-01 17:57] #42 closed

[2018-02-01 17:58] ivanvanderbyl commented on #38
This could be easily solved in the latest release by traversing the dependencies of each included module. PRs accepted :)

[2018-02-07 12:31] vitch opened #48 "Expected behaviour when used from addons"
We are running into some unexpected behaviour when using `ember-d3` from one of our addons and I wanted to clarify what the expected behaviour was.

Let's say we have `AddonA` which has a dependency on `ember-d3` and an also e.g. `d3-geo-projection`. When building `AddonA`'s dummy app I presume `ember-d3` and `d3-geo-projection` should both be available for import. And when building `AppA` which h

[2018-02-08 03:37] ivanvanderbyl commented on #48
Hi @vitch, I'll need more information about AddonA and AppA to understand whether this is actually an issue in this package. We have this addon working in both other addons ([ember-primer](https://github.com/ember-visualization/ember-primer)) and Apps without issue.

Are you declaring the d3 dependency in `dependencies` or `devDependencies`?

The line you pointed to above is actually just a backwa

[2018-02-08 11:53] vitch commented on #48
I had a look and `ember-primer` doesn't rely on any non-core d3 libraries. The addon I described above has a dependency on `d3-geo-projection` and that is where the problem is. The line I linked to means that the wrong `target` is found and the correct code isn't imported.

I had `d3` and `d3-geo-projection` defined as `dependencies` not `devDependencies`. I've seen the behaviour in `ember-cli` `2

[2018-02-08 16:07] ivanvanderbyl commented on #48
Okay I see the problem now. I think you're right, it'd be safe to remove that line and use the findHost logic as is because there's some confusion about the final load path from target. I'm travelling at the moment so can't really take a look, but I'll review a PR if you send one in :)

[2018-02-14 20:14] 0xadada opened #50 "ember build fails on ember v3.0.0 in ember-d3"
just upgraded to ember 3.0.0, and `ember build` fails with the following error

I've isolated the problem to the Ember-d3 addon. If i remove this addon, it builds successfully. Error log attached:

[code]

[2018-02-14 20:30] 0xadada commented on #50
I fixed it by adding `d3` as a devDependency
[code]

I noticed in the readme it says:

should this just say?

[2018-02-15 05:19] ivanvanderbyl commented on #50
Thanks for reporting the issue, it sounds like there was an internal change in EmberCLI. I'm guessing the d3 dependency also didn't get automatically added to your project.

[2018-02-15 15:49] 0xadada commented on #50
@ivanvanderbyl it was not added, i added it as a `dependency` in package.json here https://github.com/ivanvanderbyl/ember-d3/pull/51

[2018-02-15 23:29] jordpo commented on #50
Ran into the same issue. Thanks @0xadada !

[2018-02-16 01:29] #50 closed

[2018-02-16 17:19] nizarayari commented on #50
Same thing for me. Spent 1 day to narrow down the build error to ember-d3. Thanks @0xadada !

[2018-02-16 17:26] nizarayari commented on #50
Hi @ivanvanderbyl, we are now importing all d3 modules and losing the advantage of importing only d3 modules we need. Wdyt?

[2018-02-16 18:41] 0xadada commented on #50
@nizarayari thats not how i understand it. If you configure ember-d3 to include `only` certain modules, or `exclude` certain modules, then the build process will follow that directive.

All the d3 packages (and all the `d3-*` packages) _will_ be included in your `node_modules` directory, but will not be output in the built assets if you configure your build to include only those you are using [per

[2018-02-20 15:19] choclaudio commented on #22
I get the exact same issue after:
1) yarn OR yarn install OR yarn install --nohoist
2) ember b

If I instead run npm install, then everything works.

I am not sure if this is because the deprecation warning for usage of addon.nodeModulesPath

Env:
Node Version: 8.9.4
Npm Version: 5.6.0
Yarn Version: 1.3.2

[2018-02-20 16:48] ivanvanderbyl commented on #22
@choclaudio which version of ember-d3 are you using? Can you try `0.4.2`?

[2018-02-20 20:33] choclaudio commented on #22
@ivanvanderbyl I will check it as soon as I get into the office in the morning (In Sweden)

[2018-02-21 08:41] choclaudio commented on #22
When using 0.4.2 the problem still remains if installing with Yarn.

DEPRECATION: An addon is trying to access addon.nodeModulesPath. This is not a reliable way to discover npm modules. Instead, consider using require("resolve").sync(something, { basedir: addon.root }). Accessed from:   Class._getAllD3Modules (C:\Beijer\software\morpheus-runtime\node_modules\ember-d3\index.js:87:47)
WARNING: [embe

[2018-02-22 22:00] iezer opened #52 "Upgrade broccoli-merge-trees to support Ember 3.0"
Ember CLI 3.0 seems to require broccoli-merge-trees 3.0.0. This repo is on a very old version.

[2018-02-22 23:11] #52 closed

[2018-03-06 17:14] gtb104 opened #55 "Updated version of D3"
This has D3 pinned at `"d3": "4.1.0"`, but D3 is @ 4.13.0. Are there plans to update soon?

[2018-03-06 19:38] #55 closed

[2018-03-07 13:35] gtb104 commented on #55
Ah, OK. I think that's a worth-wild addition to the README. If I get a chance, I'll try to create a PR for that.

[2018-03-07 17:58] ivanvanderbyl commented on #55
https://github.com/ivanvanderbyl/ember-d3#advanced-installation

[2018-03-24 01:30] GCheung55 opened #56 "Update to D3@v5"
D3@v5 released March 22, 2018: https://github.com/d3/d3/blob/master/CHANGES.md#changes-in-d3-50

This add on can use an update?

[2018-03-24 01:34] ivanvanderbyl commented on #56
We're already testing against v5. You can add that to your app directly and this add-on will load it for you.

[2018-03-26 02:14] #56 closed

[2018-04-18 07:13] jrjohnson commented on #48
@vitch are you still working on this? If not I will dig in and take a look since I'm having several issues with my addon that depends on this addon.

[2018-04-26 07:33] flyrev opened #58 ""ember install ember-d3" does not appear to be sufficient"
I am using Ember version 3.1.1 and trying to install ember-d3.

[code]

package.json now has
`    "ember-d3": "^0.4.4",
`

[code]

However, something seems to still be missing:
[code]

From the documentation it looks like running `ember install ember-d3` should have sufficed.

[2018-04-27 10:15] Cian911 commented on #58
I'm running into the same issue. Tried removing `node_modules` and re-installing everything, same issue.

[2018-04-27 12:43] flyrev commented on #58
An extra `npm install` for good measure does not seem to help either.

[2018-05-02 10:43] lindsve commented on #58
I'm also running into the same issue, any update on workarounds?

[2018-05-02 10:50] flyrev commented on #58
`npm install d3`

[2018-05-02 10:53] flyrev commented on #58
For example `npm install --save-dev d3@4.9.1`

[2018-05-02 11:11] #58 closed

[2018-05-08 18:27] efx opened #59 "not appearing in Charts category of emberobserver.com"
From what I've gathered, this seems to be the most mature and actively maintained d3 addon. It is not appearing in the charts category of emberobserver.com:
https://emberobserver.com/categories/charts
To me, including it there will increase visibility.
I can also open this in https://github.com/emberobserver/client if needed

[2018-05-15 10:52] jrjohnson commented on #48
I'm not sure if this is the same issue, but it may be. We use `ember-d3` in an addon, but after updating to `v0.4.4` apps which include that addon die on build with `ERROR: Package d3 is not installed, please add it to your project's dependencies`.

@ivanvanderbyl I created a fresh app and installed `ember-primer` and this happens there as well, it seems like https://github.com/ivanvanderbyl/ember

[2018-05-31 07:17] potato20 opened #61 "3rd Party D3 Plugins aren't loaded if bundle: true is specified"
on this line

https://github.com/ivanvanderbyl/ember-d3/blob/master/index.js#L86

you don't account for 3rd party plugins, so they don't get loaded. in my case i'm using this https://www.npmjs.com/package/d3-canvas-transition

[2018-06-07 15:19] lupestro opened #62 "Update ember-cli-babel dependency to ember 6.x"
Doing so will avoid a couple of noisy warnings - first during install:
[code]
then when building using ember-d3, as the following are both a result of using ember-cli-babel 5.x:
[code]

[2018-11-11 21:42] #62 closed

[2018-11-11 21:44] mike-north commented on #62
:tada: This issue has been resolved in version 0.5.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/ivanvanderbyl/ember-d3/releases/tag/v0.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-13 20:56] buschtoens opened #67 "Running compatibility transforms for new d3 packages"
https://github.com/d3/d3-array/issues/80#issuecomment-437588749:

d3 is starting to use ES features, which are not natively supported in browsers like IE11. Since all packages are just run through the 'amd' transform, this means that unsupported syntax, like arrow functions, make it into the production build.

I guess this means, that ember-d3 should run the `treeForVendor` through `ember-cli-babe

[2018-11-14 01:36] ivanvanderbyl commented on #67
@buschtoens thanks for letting us know. This will require some refactoring, we avoided this in the past because it added a considerable compile time cost during development. This could be overcome, just needs a PR ;)

[2019-01-03 17:46] scottkidder opened #68 "Cut a release"
Would it be possible to cut a release so that [4f748d4](https://github.com/ivanvanderbyl/ember-d3/commit/4f748d4826ca9499adcbdfb91fdf8547971f3f59) comes through?

[2019-01-18 20:46] #48 closed

[2019-01-19 00:04] jakebixbyavalara opened #70 "v0.5.1 breaks on ember-cli < v3.2.0 and node < 7"
The latest version, v0.5.1 does not work on any app using a version of ember-cli lower than v3.2.0, due to the use of `PackageInfoCache` (which was added in v3.2.0)[https://github.com/ember-cli/ember-cli/commit/de8162c6bc2c6ad1cd59476c8420c8842020a855#diff-efb0efc58f8837467992f746c5228672].
Running any `ember` command results in the following error:
[code]

Also, if you are using a version of node

[2019-02-16 18:48] stefanpenner opened #71 "configuration uses browser config not build config"
`config/environment.js` is intended to configure you running application, and `ember-cli-build.js` is to configure your apps build.

I believe the configuration `ember-d3` uses should be via `ember-cli-build.js` not `config/environment.js`

Something like:

[code]

[2019-02-28 16:25] #68 closed

[2019-02-28 16:25] scottkidder commented on #68
:tada: Thanks!

[2019-08-08 16:17] gilesv opened #73 "Builds on Travis are failing due to Node version 6"
Hey @ivanvanderbyl!
I see you changed node version on Travis in [this commit](https://github.com/ivanvanderbyl/ember-d3/commit/e5feeffc3ef1e615647cda40a48b4e793260fdbe) and it's causing all builds to fail since `Object.values()` is only supported by version => 7.

![image](https://user-images.githubusercontent.com/18203276/62719064-88783100-b9dd-11e9-8375-d5a88f73c0c9.png)
I suggest switching it b

[2020-02-28 16:08] rjsalvadorr commented on #70
Has anyone found a workaround for this one?

[2020-04-17 00:25] #59 closed

[2022-04-27 02:41] #39 closed